
table{
    border: 2px solid black;
    width: 80%;
    border-collapse: collapse;   
}
thead,tr,td{
    border: 2px solid black;
    padding: 15px 35px 20px;
}
.cell{
    display: flex;
    gap: 10px;
}
.icon{
    vertical-align: middle;
    margin-right: 1px;
}